# Core functionality - changes here should be rare!
/src/app.py                   @zyzericzhang
/src/backend/database.py      @zyzericzhang
/src/backend/routers/auth.py  @zyzericzhang

# The frontend will need refactored soon to be more object oriented.
/src/static/   @zyzericzhang
